.u-section-1 .u-sheet-1 {
  min-height: 1858px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 27px 903px 0 -61px;
}

.u-section-1 .u-list-1 {
  width: 517px;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 100%;
  height: auto;
  min-height: 94px;
  margin: 42px auto 0 30px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
  min-height: 94px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 30px 0;
}

.u-section-1 .u-icon-1 {
  height: 39px;
  width: 39px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -47px 22px 0 58px;
}

.u-section-1 .u-list-2 {
  width: 517px;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 100%;
  height: auto;
  min-height: 94px;
  margin: 40px auto 0 30px;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
  min-height: 94px;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 39px;
  width: 39px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -47px 0 0 58px;
}

.u-section-1 .u-image-1 {
  width: 193px;
  height: 67px;
  margin: -7px auto 0 160px;
}

.u-section-1 .u-icon-3 {
  height: 31px;
  width: 31px;
  margin: -59px auto 0 129px;
}

.u-section-1 .u-list-3 {
  width: 1087px;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 100%;
  height: auto;
  min-height: 97px;
  margin: 96px auto 0 30px;
}

.u-section-1 .u-repeater-3 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
  min-height: 97px;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 0 0 30px;
}

.u-section-1 .u-icon-4 {
  height: 39px;
  width: 39px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: -47px 0 0 57px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 481px;
  margin: -12px auto 0 262px;
}

.u-section-1 .u-icon-5 {
  height: 77px;
  width: 77px;
  margin: -481px 903px 0 auto;
}

.u-section-1 .u-list-4 {
  width: 599px;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 100%;
  height: auto;
  min-height: 94px;
  margin: 596px auto 0 30px;
}

.u-section-1 .u-repeater-4 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
  min-height: 94px;
}

.u-section-1 .u-container-layout-4 {
  padding: 15px 30px 0;
}

.u-section-1 .u-icon-6 {
  height: 39px;
  width: 39px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: -47px 30px 0 49px;
}

.u-section-1 .u-image-3 {
  width: 537px;
  height: 26px;
  margin: 7px auto 0 179px;
}

.u-section-1 .u-icon-7 {
  height: 31px;
  width: 31px;
  margin: -38px auto 0 129px;
}

.u-section-1 .u-list-5 {
  width: 1110px;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 100%;
  height: auto;
  min-height: 122px;
  margin: 115px 0 0 auto;
}

.u-section-1 .u-repeater-5 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
  min-height: 122px;
}

.u-section-1 .u-container-layout-5 {
  padding: 15px 30px 0;
}

.u-section-1 .u-icon-8 {
  height: 39px;
  width: 39px;
  color: rgb(0, 0, 0) !important;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: -39px 30px 0 49px;
}

.u-section-1 .u-list-6 {
  width: 599px;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 100%;
  height: auto;
  min-height: 94px;
  margin: 30px auto 0 30px;
}

.u-section-1 .u-repeater-6 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
  min-height: 94px;
}

.u-section-1 .u-container-layout-6 {
  padding: 15px 30px 0;
}

.u-section-1 .u-icon-9 {
  height: 39px;
  width: 39px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: -32px 30px 0 49px;
}

.u-section-1 .u-icon-10 {
  height: 31px;
  width: 31px;
  margin: 17px auto -15px 69px;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 24px;
  margin: -9px auto 0 179px;
}

.u-section-1 .u-list-7 {
  width: 599px;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 100%;
  height: auto;
  min-height: 94px;
  margin: 30px auto 3px 30px;
}

.u-section-1 .u-repeater-7 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
  min-height: 94px;
}

.u-section-1 .u-container-layout-7 {
  padding: 15px 30px 0;
}

.u-section-1 .u-icon-11 {
  height: 39px;
  width: 39px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: -32px 30px 0 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 745px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(41, 183, 221) !important;
  }

  .u-section-1 .u-text-2 {
    margin-right: 21px;
    margin-left: 57px;
    width: 342px;
  }

  .u-section-1 .u-text-3 {
    width: 342px;
    margin-left: 57px;
  }

  .u-section-1 .u-list-3 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: 342px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 745px;
  }

  .u-section-1 .u-list-5 {
    width: 940px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 571px;
  }

  .u-section-1 .u-list-3 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 150px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 571px;
  }

  .u-section-1 .u-list-5 {
    width: 720px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1831px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 428px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 23px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 115px;
  }

  .u-section-1 .u-list-2 {
    margin-left: 23px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 455px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-list-4 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 20px;
    margin-left: 39px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 3px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 20px;
    margin-left: 3px;
  }

  .u-section-1 .u-list-5 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-list-6 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 20px;
    margin-left: 39px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 23px;
    margin-left: 0;
  }

  .u-section-1 .u-list-7 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 20px;
    margin-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1643px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 269px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    width: 320px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: 147px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 81px;
  }

  .u-section-1 .u-list-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 286px;
  }

  .u-section-1 .u-list-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 0;
  }

  .u-section-1 .u-list-5 {
    width: 340px;
  }

  .u-section-1 .u-list-6 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 14px;
  }

  .u-section-1 .u-list-7 {
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1442px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 662px 0 -62px;
}

.u-section-2 .u-text-2 {
  margin: 30px 93px 0 -46px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1137px;
  margin: 43px auto 0 -17px;
}

.u-section-2 .u-image-1 {
  min-height: 558px;
  pointer-events: auto;
  background-image: url("images/2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 7px 0 0 60px;
}

.u-section-2 .u-text-3 {
  margin: 0 157px 0 20px;
}

.u-section-2 .u-image-2 {
  height: 551px;
  width: 1120px;
  margin: 57px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 157px 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 562px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 461px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 462px;
    width: 940px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 452px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 353px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 354px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 530px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 266px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 262px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 334px;
  }

  .u-section-2 .u-image-2 {
    height: 167px;
    width: 340px;
  }
}